// 定义基础色
// ---------------------- maincolor 主色-------------------
// logo用色
$mianlogocolor: #c30d23;
// 按钮、关键文字默认状态
$mainkeycolor: #E4393C;
// 导航名称、大版块标题，类目名称等
// ---------------------- auxiliarycolor 辅助色-----------------
// 用于提示性的icon或文字、输入框active状态
$auxiliarymaincolor: #6d78e7;
// 用于特殊按钮的背景色
// $auxiliarybtncolor: #f5f7fa;
// 用于页面的背景色
// $auxiliarybgcolor: #f7f7f7;
// ---------------------- neutralcolor 中性色-----------------
$neutralcolor3: #333;
$neutralcolor6: #666;
$neutralcolor9: #999;
$neutralcolord7: #d7d7d7;
$neutralcolore5: #e5e5e5;
$neutralcolorf5: #f5f7fa;
$neutralcolorf7: #f7f7f7;
